<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ShadowSettings</key>
	<dict>
		<key>ShadowColor</key>
		<string>#00b7ff</string>
		<key>ShadowHorizontalOffset</key>
		<integer>1</integer>
		<key>ShadowVerticalOffset</key>
		<real>6</real>
		<key>ShadowRadius</key>
		<real>5</real>
		<key>ShadowOpacity</key>
		<real>0.4</real>
	</dict>
	<key>PackageName</key>
	<string>Example Theme</string>
</dict>
</plist>
